.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-group-left {
    float: left;
}
.date-section {
   text-align: center;
}
.btn-group-right {
    float: right;
}