:host() {
    width: 100%;
}
mat-form-field {
    width: 85%;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close-btn {
    margin-right:1rem;
}

.send-email-section {
    display:flex;
    flex-direction: column;
    overflow: auto;

    .show-hide-clients-section {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        mat-checkbox {
            flex-basis: 25%;
        }
    }

}
.discharge-client-section {
    mat-form-field {
        margin: 1rem;
    }
}
