<div *ngIf="data.selectedEvent">
  <mat-form-field>
    <mat-select placeholder="Client Name" disabled="true" [(value)]="data.selectedEvent.event.clientSessionId">
      <mat-option [value]="data.selectedEvent.event.clientSessionId">
        {{data.selectedEvent.event.clientName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Client Session Time" disabled="true" [(value)]="data.selectedEvent.event.clientSessionId">
      <mat-option [value]="data.selectedEvent.event.clientSessionId">
        {{data.selectedEvent.event.appointmentTime | date: "MMM dd yyyy h:mm a" }} 
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button class="close-btn" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="accent" (click)="deleteSession()">
      Delete
    </button>
  </div>  
</div>
<div *ngIf="data.selectedDate">
  <mat-form-field>
    <mat-select placeholder="Client Name" (selectionChange)="clientChanged($event.value)">
      <mat-option *ngFor="let c of data.clients" [value]="c.GeneralDetails.ClientID">
        {{ c.GeneralDetails.ClientName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select disabled="true" placeholder="Appointment Date" [(value)]="data.selectedDate.date">
      <mat-option [value]="data.selectedDate.date">
        {{ data.selectedDate.date | date: "MMM dd yyyy h:mm:a" }}      
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button class="close-btn" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" (click)="createClientSession()">
      Create
    </button>
  </div>
</div>