<div *ngIf="data.selectedEvent">
  <mat-form-field>
    <mat-select placeholder="Client Name" disabled="true" [(value)]="data.selectedEvent.event.clientSessionId">
      <mat-option [value]="data.selectedEvent.event.clientSessionId">
        {{data.selectedEvent.event.clientName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Client Session Time" disabled="true" [(value)]="data.selectedEvent.event.clientSessionId">
      <mat-option [value]="data.selectedEvent.event.clientSessionId">
        {{data.selectedEvent.event.appointmentTime | date: "MMM dd yyyy h:mm a" }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button class="close-btn" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="accent" (click)="deleteSession()">
      Delete
    </button>
  </div>
</div>
<div *ngIf="data.selectedDate">
  <mat-form-field>
    <mat-select placeholder="Client Name" (selectionChange)="clientChanged($event.value)">
      <mat-option *ngFor="let c of data.clients" [value]="c.GeneralDetails.ClientID">
        {{ c.GeneralDetails.ClientName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select disabled="true" placeholder="Appointment Date" [(value)]="data.selectedDate.date">
      <mat-option [value]="data.selectedDate.date">
        {{ data.selectedDate.date | date: "MMM dd yyyy h:mm:a" }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-group">
    <button mat-raised-button class="close-btn" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" (click)="createClientSession()">
      Create
    </button>
  </div>
</div>
<div *ngIf="data.sendEmail" class="send-email-section">
  <div class="email-container" *ngIf="!showClientFilter.checked">
    <mat-form-field>
      <input placeholder="Subject" matInput type="text" [(ngModel)]="subject" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="20" cols="50" placeholder="Email Message" [(ngModel)]="message"></textarea>
    </mat-form-field>
  </div>
  <div class="clients-filter-section">
    <mat-checkbox #showClientFilter>Show /Hide Clients</mat-checkbox>
    <div class="show-hide-clients-section" *ngIf="showClientFilter.checked">
      <mat-checkbox #selectAll (change)="toggleSelectAll($event)" [checked]="true">Select All</mat-checkbox>
      <mat-checkbox *ngFor="let client of data.clients" value="client.GeneralDetails.CientID" [checked]="isChecked(client)"
        (change)="toggleClientSelected($event, client)">
        {{client.GeneralDetails.ClientName}}
      </mat-checkbox>
    </div>
  </div>
  <div class="btn-group" *ngIf="!showClientFilter.checked">
    <button mat-raised-button class="close-btn" (click)="close()">
      Close
    </button>
    <button mat-raised-button color="primary" (click)="sendEmail()">
      Send Email
    </button>
  </div>
</div>
<div *ngIf="data.addInsurance">

</div>
<div *ngIf="data.dischargeClient" class="discharge-client-section">
  <mat-form-field>
    <mat-select placeholder="Discharge Reason" [hidden]="hideDischargeReasonSelect()" (selectionChange)="dischargeReasonChanged($event.value)">
      <mat-option *ngFor="let reason of dischargeReasons" [value]="reason">
        {{ reason }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div [hidden]="dischargeReason !== 'Other'">
    <mat-form-field>
        <input matInput placeholder="Other reason" type="input" />
    </mat-form-field>
  </div>
</div>