.container {
    margin: 1em;
}

.clientsSection {
    display: flex;
    flex-direction: row;
    margin-top:1em;
}

.filter-header-section {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .fa-plus-circle {
        margin:auto;
        font-size: 1.5rem;
    }
}

.clientsFilteredSection {
    flex: 1;
}