.container {
    margin: 1em;
    max-height: calc(100vh - 4.5em);
    overflow: scroll;
}

.clientsSection {
    display: flex;
    flex-direction: column;
    margin-top:1em;
}

.header-section {
    display: flex;
    span {
        cursor: pointer;
        margin: .25rem;
    }
}

.filter-header-section {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .fa-plus-circle {
        margin:auto;
        font-size: 1.5rem;
    }
}

.clientsFilteredSection {
    flex: 1;
    cursor: pointer;
}