<div class="container" [formGroup]="form">
  <div class="clientSection">
    <div class="header-section">
      <span (click)="toggleExpander()">
        <i [class]="isExpanded ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
        Clients
      </span>
      <span class="refresh-section">
        <i class="fa fa-refresh" (click)="refreshClients()"></i>
      </span>
    </div>
    
    <div class="filterSection" [hidden]="!isExpanded">
        <div class="filter-header-section">
            <mat-form-field>
                <input matInput type="text" placeholder="Filter" [formControl]="formControl" />
            </mat-form-field>
            <i class="fa fa-plus-circle" (click)="selectClient(null)"></i>
        </div>
        <div class="clientsFilteredSection" 
          *ngFor="let c of filteredClients$ | async"
          (click)="selectClient(c)">
          {{c.GeneralDetails.ClientName}}
        </div>
      </div>
  </div>
</div>
