.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.panel-section {
    flex: 1 1 auto;
    max-width: 25vw;
    background-color: #e8e9ea;
    border: solid #6c6e70 2px;
}

.main-section {
    flex: 1 1 auto;
}