<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Therapy Software</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<body>
  <div class="loading-section" *ngIf="(isLoading$ | async) as isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container" *ngIf="!(isLoading$ | async) as isLoading">
    <div class="panel-section">
      <pmt-panel [allClients]="clients$ | async"></pmt-panel>
    </div>
    <div class="main-section">
      <pmt-calendar [allClients]="clients$ | async"></pmt-calendar>
      <router-outlet></router-outlet>
    </div>
    <div class="action-section">
      <i class="fa fa-envelope-square" (click)="sendEmail()"></i>
    </div>
  </div>
</body>